.App {
    background-color: #282c34;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.size {
    border: 1px solid;
    padding: 15px;
    width: 250px;
}

span {
    display: inline-block;
    width: 50px;
}